<!doctype html>
<html lang="en" ng-app="printerApp">
<head>
<meta name="robots" content="noindex, nofollow">
<title>APRINTICE</title>
<link rel="stylesheet" href="/static/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="/static/script.js"></script>
</head>
{% raw %}
<body ng-controller="jobsController">
    <div id="preview-box" style="display:none">
        <iframe id="preview-iframe">
        </iframe>
    </div>
	<div id="container">
		<div id="header">
			<div id="logo"></div>
			<div id="welcome">Welcome, {{userService.user.username}}</div>
			<div id="select">
				<div class="select_arrow"></div>&nbsp;&nbsp;
				SELECT PRINTER
				&nbsp;&nbsp;<div class="select_arrow"></div>
			</div>
			<div id="select_back"></div>
            <a href="/logout"><div id="logout"></div></a>
		</div>
		<div id="main">
			<div id="select_dropdown" ng-controller="printersController">
                <div class="select_printer_container" ng-repeat="printer in
                printersService.printers"
                                                      ng-click="printersService.selectPrinter(printer)">
                    <div class="select_printer_title">{{printer.title}}</div>
                    <div class="select_printer_desc">{{printer.description}}</div>
				</div>
			</div>
			<div id="select_dimlights"></div>
			<!-- Angular JS Jobs -->
			<div ng-repeat="job in service.jobs">
                <div class="printjob" ng-click="selectJob(job)"
                                      ng-class="getJobClasses(job)">
					<div class="jobtitle">{{job.file}}</div>
					<div class="jobpages">{{job.pages}}</div>
					<div class="jobprice">
						<sup>&#36;</sup>
						{{getPrice(job)}}
					</div>
					<div class="jobdate">
						<div class="jobdatecontainer">
							<div class="jobdatemonth">{{getMonth(job.date)}}</div>
							<div class="jobdateday">{{getDay(job.date)}}</div>
						</div>
						{{getTime(job.date)}}
					</div>
				</div>
				<div class="divider"></div>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			<div id="balance-title">Your Balance:</div>
			<div id="balance">
				<sup>&#36;</sup>
				{{getBalance()}}
			</div>
			<div id="delete" ng-click="service.deleteJob()"></div>
			<div id="preview" ng-click="previewJob()"></div>
			<div id="print" ng-click="service.releaseJob()"></div>
		</div>
	</div>
</body>
{% endraw %}
</html>

