<!doctype html>
<html lang="en" ng-app="printerApp">
<head>
<meta name="robots" content="noindex, nofollow">
<title>APRINTICE</title>
<link rel="stylesheet" href="/static/style.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="/static/script.js"></script>
</head>
{% raw %}
<body ng-controller="jobsController">
	<div id="container">
		<div id="header">
			<div id="logo"></div>
			<div id="welcome">Welcome, {{userService.user.username}}</div>
			<div id="logout"></div>
		</div>
		<div id="main">
			
			<!-- Angular JS Jobs -->
			<div ng-repeat="job in service.jobs">
                <div class="printjob" ng-click="selectJob(job)"
                                      ng-class="getJobClasses(job)">
					<div class="jobtitle">{{job.file}}</div>
					<div class="jobprice">
						<sup>&#36;</sup>
						{{getPrice(job)}}
					</div>
					<div class="jobdate">
						<div class="jobdatecontainer">
							<div class="jobdatemonth">{{getMonth(job.date)}}</div>
							<div class="jobdateday">{{getDay(job.date)}}</div>
						</div>
						{{getTime(job.date)}}
					</div>
				</div>
				<div class="divider"></div>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			<div id="balance-title">Your Balance:</div>
			<div id="balance">
				<sup>&#36;</sup>
				{{getBalance()}}
			</div>
			<div id="delete"></div>
			<div id="preview"></div>
			<div id="print"></div>
		</div>
	</div>
</body>
{% endraw %}
</html>

