<!doctype html>
<html lang="en">
<head>
<meta name="robots" content="noindex, nofollow">
<title>APRINTICE</title>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/script.js"></script>
</head>
<body>
	<div id="container">
		<form id="login" method="post" action="/login">
			<div id="logo_login"></div>
			Username: <input type="text" id="username" name="username" /><br />
			Password: <input type="text" id="password" name="password" /><br />
			<input type="submit" value="Login" />
		</div>
	</div>
</body>
</html>
